{
  "plugins": [
    "lodash",
    "prettier",
    "react",
    "flowtype"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    //"plugin:lodash/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "no-unused-vars": "warn",
    "react/no-find-dom-node": "warn"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "globals": {
    "document": true,
    "window": true
  }
}
